* {box-sizing: border-box;}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    font-size: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.slider {
    display: flex;
    width: 300px;
    overflow: hidden;
    margin: 0 10px;
}

.slider__blocks {
    position: relative;
    display: flex;
    color: black;
    font-size: 30px;
    left: 0;
    transition: .3s;
}

.slider__block {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    border: 1px solid #444;
}